[2022-02-27 21:12] ycl6 commented on #1557
Hi @Avtober

If you phyloseq object is `Namdata.platy`, what if you make a plot with just `plot_bar(Namdata.platy, fill = "Genus")` (i.e. without adding ggplot2 functions)?

[2022-02-28 07:46] Shaktheeshwari opened #1561 "Error creating phyloseq object with Qiime2 output"
![image](https://user-images.githubusercontent.com/84963191/155944085-7d981cb3-1d2e-49ea-9984-087be427e573.png)

I have at this for a few days. I have followed methods from several tutorials and tried both manually creating a phyloseq object and using the code "qza_to_phyloseq" initially i was getting the error of "duplicate names", however after removing the second row with #sampletype in my meta

[2022-02-28 11:39] Avtober commented on #1557
HI @ycl6

If I try that with just loading phyloseq and not ggplot2 then I get this message:

Error in scale_fill_brewer(palette = palname, ...) :
  could not find function "scale_fill_brewer"

If I then load ggplot2 I get the same message as before:

Warning message:
In RColorBrewer::brewer.pal(n, pal) :
  n too large, allowed maximum for palette Set1 is 9
Returning the palette you asked for with

[2022-02-28 11:50] LaFra7 opened #1562 "How to obtain these information?"
I have a phyloseq object and I want to get the following information:

- Number of OTUs: ntaxa(dr)

- Number of reads per sample: reads_per_sample = data.table(as(sample_data(dr), "data.frame"), TotalReads = sample_sums(dr), keep.rownames = TRUE)

- Number of OTUs PER SAMPLE?

- Reads length?

- How many of my OTUS have being classified (or how many unclussified OTUs?)

Are the codes for number of

[2022-02-28 12:50] Avtober commented on #1557
Thanks @ycl6

I am still getting the same error message so maybe I should uninstall the R colour brewer or uninstall and reinstall phyloseq? Maybe one is overiding the other? I will have a look at that workflow too.

Thanks
Anya

[2022-03-01 10:53] marwa38 opened #1563 "bug in estimate_richness()?"
Hello
I am getting this warning message for both of my phyloseq objects (ps.3 and ps.prev) that they don't have singletons although when I used `summarize_phyloseq()` I found that there are singletons
Do you know why is that?
[code]

[2022-03-02 15:43] LaFra7 opened #1564 "Subsetting specific samples from a phyloseq object"
Hi all, I am trying to do something that should be really easy, but I can't figure out how to do it.

I have my phyloseq object and I want to extract only few samples and with them I want to create another phyloseq object (because I want to make some plot with only these specific samples and it seems to me the only way to do it).

So I tried:

new_phy_obj <- prune_samples(sample_names(df_with_all_

[2022-03-02 15:44] #1562 closed

[2022-03-02 20:12] aemann01 commented on #1494
Just in case the above solution didn't work for anyone else -- for me (phyloseq version 1.38.0):
[code]
didn't generate a column with sample.id to use as a label. Ended up duplicating my row names as a new column.
[code]

[2022-03-02 22:20] ycl6 commented on #1563
Hi @marwa38

I can't say why you are getting that error message, because the way `phyloseq` determine if an object contains singletons is *much easier* than that by the `microbiome` package.

In `phyloseq`, if any ASV in a sample has an abundance of 1, it will be regarded as a singleton, as evaluated by `otu_table(physeq) == 1`. So, with `any`, it would mean your dataset doesn't contain any ASV wi

[2022-03-03 09:37] ycl6 commented on #1564
Hi @LaFra7

Is your `df_with_all_samples` a phyloseq or a `data.frame` object? When you enter `df_with_all_samples` in R, what's the output in the console?

[2022-03-03 11:11] Avtober commented on #1557
Hi @ycl6

I have just noticed that when I load the ggplot2 library : get this message:

Attaching package: ‘ggplot2’

The following object is masked _by_ ‘.GlobalEnv’:

    scale_fill_discrete

Could this be the problem?

Thanks
Anya

[2022-03-03 11:26] ycl6 commented on #1557
Hi @Avtober

Yes, I think another package has the same function name `scale_fill_discrete` that's overriding the ggplot2's function.

After you load your packages, run `?scale_fill_discrete` and see what is the package.
Below is the example of the manual of `scale_fill_discrete` from ggplot2

[code]

[2022-03-06 16:48] paddyhooper commented on #1556
Hi there,

Thanks very much for your response! I hadn't considered the package date on the tutorial. From your response it sounds like generally it could be a better option to use the alternative geometric mean on 'sparse' ASV datasets.

Thanks for pointing me in the way of these responses, I will look into these.

Kind regards,
Paddy

[2022-03-06 16:48] #1556 closed

[2022-03-07 10:02] alecbiom opened #1565 "Changing colours in ggplot"
How can I change the bars colours in this code:

biomdatagoku100 %>%
  ggplot(aes(diet, Abundance)) +
  geom_col(aes(fill = Family), position = position_fill()) +
  facet_wrap(~condition) +
  scale_y_continuous(labels = percent) +
  labs(title = "Family") +
  ylab ("Abundance Frequency") +
  xlab ("Diet") +
  theme_minimal(base_size = 18)

Thank you in advance.

[2022-03-07 15:51] ycl6 commented on #1565
Hi @alecbiom

This is strictly speaking a `ggplot2` question, you should read up on that, either from its website or search online

https://ggplot2.tidyverse.org/reference/index.html#scales

[2022-03-08 16:56] termithorbor opened #1566 "Filter by within sample abundance"
Hi,

how can I filter by within sample abundance.
For example I want to keep all taxa which have a 0.25 % ambundance in at least one sample.
Thank you very much for your help :)

[2022-03-16 22:40] emankhalaf opened #1567 "Use otu_table_with_tax_metadata to annotate phylogenetic tree in iTOL"
Hi,

I extracted fasta file of the microbiome collapsed at the genus level to generate a phylogenetic tree, then annotate it using iTOL software.
Also, I have otus-genus-with-sample-data.csv using
dat <- psmelt(ps.gen)
And I need to prepare a file that includes the calculated relative abundance for each ASV using a specific variable (e.g., location : site1, site2, site3,....) as below (requested f

[2022-03-17 16:04] emankhalaf opened #1568 "Error when matching SampleIDs in metadata and seqtab files"
Hi,

I am using DADA2 in R to manipulate MiSeq sequences. The sequence pattern is  (pattern="_R1_001.fastq.gz)
 sequence name (e.g., Osmo-Muco-1_S65_L001_R1_001.fastq.gz)

to extract the sequence name
sample.names1 <- sapply(strsplit(basename(fnFs), "_"), `[`, 1)
sample.names1

returned the vector
[1] "Osmo-Muco-1"  "Osmo-Muco-10" "Osmo-Muco-11" .....

Then to replace the string to match SampleID

[2022-03-20 17:33] biomaker52 commented on #541
I have the same problem these days that driving me nuts.. then I finally find the solution, thank you.. To add a "dummy_variable" in sample_data, it works.

[2022-03-21 23:37] DanielC-G opened #1569 "rarefy_even_depth function can be used for bootstrapping?"
Dear phyloseq developers.
I need to perform random subsampling with replacing on the OTU table to carry out bootstrapping. The rarefy_even_depth function can be used for this purpose by setting replace = TRUE? or the probability of sampling one OTU is biased to its original abundance in this function?

Thanks a lot,

[2022-03-23 09:29] termithorbor commented on #1089
Hi all,
I have just one comment to this: sum(X) is not the sample number it is the sum of all values. In the first case it is the sum the reads within each sample and in the second case it is the sum of the abundances: If it would be the sample number you would calculate the mean and not the proportion.

[2022-03-23 09:55] termithorbor commented on #1089
You have to use the sum of all values not the sample number to normalize your data. When you use the sample number you are calculation means and not proportions. See my comment below.

[2022-03-23 17:18] #1568 closed

[2022-03-23 20:50] vanormbr commented on #1447
Were you able to find a solution to this problem?

[2022-03-24 09:55] LaFra7 opened #1570 "Modify taxa table"
Hi all,

I have a phyloseq object which include the taxa table. I extracted the sequence table of each otu and the taxa table, so I am doing a BLAST on the unclassified sequences. So, once classified I would like to modify the taxa table in my phyloseq object and to put the corresponding name of the species. Is there a way to do that?

Thank you!

[2022-03-24 17:00] emankhalaf commented on #1567
solved!

[2022-03-25 07:25] TseWue commented on #523
Hi,

I have the same question but I don't see how this tutorial helps in removing the original dots from the plot_richness() command. I have tried shape = NA but then I can't add points back on with the geom_point() command since it doesn't do the same math with the data. Also, I have tried to find a way to just color the original dots white but that didn't work.
Any ideas?

Thank you!

[2022-03-25 08:21] melissaszy commented on #105
Hello,

i am wondering if there is any resolution regarding this? or any alternatives?

Cheers,
Mel

[2022-03-25 11:05] dsiegieda opened #1571 "error in reading taxonomy for phyloseq"
I'm creating a phylseq object, but with custom editing of taxonomy table.

My data frame:
![table](https://user-images.githubusercontent.com/98584062/160109408-c5e0cf13-8eee-482c-bd23-6b24f63ad6c6.PNG)
Yesterday I was able to create a phyloseq object with this edited taxonomy,
 but today when I use:
`TAX = tax_table(matrix(taxonomy))`

R gives me:

[code]

The most strange thing is that the day be

[2022-03-25 11:17] dsiegieda commented on #1571
It looks like I covered the tax_table with another library.
`TAX = phyloseq::tax_table(as.matrix(tax.clean))`  worked.

[2022-03-25 11:17] #1571 closed

[2022-03-28 14:54] emankhalaf opened #1572 "When removing samples from phyloseq object, their corresponding taxa are not removed in parallel"
Hi,

I need to remove a specific variable from the metadata, so I removed samples representing this variable from the phyloseq object as follows:
#remove wild genotype
[code]
However, when extracting sequences from the phyloseq object, I still see taxa that exclusively exist in removed samples.
Any recommendation about how to remove samples along with their taxa from the phyloseq object?

Thanks!

[2022-03-28 14:58] benjjneb commented on #1572
Follow up with pruning taxa with zero abundance.

[code]

[2022-03-28 15:04] emankhalaf commented on #1572
@benjjneb
Much thanks!

[2022-03-28 17:07] #1572 closed

[2022-03-28 17:15] emankhalaf opened #1573 "Error when extracting genera sequences at 50% prevalence threshold"
Hi,

I need to extract sequences of genera that exist in 50% of samples. I did the following:

#1572 agglomerate phyloseq object at genus level
ps_genus <- tax_glom(ps_workingc, taxrank = "Genus")

#calculae genera that exist in 50% of samples
genera.prev50 <- core_members(ps_genus, detection = 0, prevalence = 50/100)
print(genera.prev50)

I got 17 sequences

#Use short names for ASVs
dna1 <- Bios

[2022-03-29 06:20] wanglu2014 opened #1574 "why "not a sub-multiple or multiple of the number of rows" appreared at Unifrac?"
Similar questions used to appear https://github.com/joey711/phyloseq/issues/643

[Code]
unifrac.dist <- UniFrac(physeqmini,
weighted = T,
normalized = TRUE,
parallel = T,
fast = TRUE)

My warning massage
data length [143] is not a sub-multiple or multiple of the number of rows [72]

Error file
[physeqmini.zip](https://github.com/joey711/phyloseq/files/8368556/physeqmini.zip)

[2022-03-30 01:00] sarahisherb commented on #1446
Hi! Did you ever figure this out? I'm trying to do the exact same thing. If you didn't use phyloseq, could you please direct me to a  code or tool that achieved your goal?

[2022-03-30 15:03] LaFra7 opened #1575 "Calculate and plot 10 most abundant taxa?"
Hi all,

I have a phyloseq object and I would like to know and then plot the 10 most abundant taxa at family level for each species.

To give you a better idea of my data, I have the relative abundances of each OTUs found in my samples and my samples are more than 500 divided in three mammal species. So I did:

dr_fam <- tax_glom(dr, taxrank = "Rank1", NArm = F)

Now I would like to have a bar plo

[2022-03-31 03:17] sarahisherb commented on #1365
Hi! Did you ever figure this out?

[2022-03-31 06:12] marwa38 opened #1576 "phyla overlapped between two groups"
Hello

trying to find the overlapping phyla between two groups (treatments)
I know that the total taxa in the phyloseq is 22
while when I am plotting my Venn diagram, I found that they are not 22 in total which is weird
Could you please advise on this?

my codes
[code]

![image](https://user-images.githubusercontent.com/68851733/160987997-3c1588c6-ee24-414b-a948-a1e08baf1180.png)
phyloseq object a

[2022-03-31 10:41] LaFra7 commented on #1575
I think I found the code to do that:

ps0<-names(sort(taxa_sums(dr_fam), TRUE)[1:10]) #get most abundant ones
ps1<-prune_taxa(ps0, dr_fam)
ps2 <- transform_sample_counts(ps1, function(x) x / sum(x))
ps3 <- merge_samples(ps2, "Species")
ps4 <- transform_sample_counts(ps3, function(x) x / sum(x))
plot_bar(ps4, fill="Rank1")

Is that correct?

And how could I get the exact percentage of each family?

[2022-04-06 14:34] Transmystical commented on #1507
Hi Joey711,

Yes, I was able to figure this one out. Hopefully it works for you. The issue was with this line of the Phyloseq install:

Do you want to install from sources the package which needs compilation? (Yes/no/cancel) Yes

There’s some compatibility issue with igraph with the updated phyloseq if you just hit a blanket ‘yes’ to this.

To bypass, here you have to say No. If I remember correct

[2022-04-07 20:14] magibc opened #1577 "Error for merging phylogenetic tree in phyloseq object from Kraken2 + Bracken output"
Hello,
Before posting the following issue, I have tried a lot of things and try to find out the mistake in my code but I'm not capable to find it.

From a shotgun study in a mammal gut microbiota, I have used as taxonomy classifier Kraken2 + Bracken, However, I don't know how to solve my problem because I cannot include a phylogenetic tree in the phyloseq object although I created correctly a phyl

[2022-04-07 21:50] fconstancias commented on #1466
You can directly save a fasta file of the ASV sequences using the following command:

[code]

[2022-04-07 23:56] pauGuas commented on #781
Hi, I am trying this code
`remove <- subset_samples(psNE, SampleID%in%c("14", "15", "124", "125", "126", "138", "139", "219", "220", "221", "222", "PGP1C11", "sa222", "sa31"))
new <- subset_samples(psNE, !(SampleID %in% remove))`

And getting this error
Error in match(x, table, nomatch = 0L) :
  'match' requires vector arguments

Do you know what this might mean?

[2022-04-08 18:01] pauGuas opened #1578 "Issue merging phyloseq objects"
Hi, I have successfully merged phyloseq objects before so I'm not sure what's going on.

Each phyloseq object is fine, separately. However, when I merge them, only about 50 of the 384 samples from one of the objects are in the resulting. The total number of samples is 916,  when there should be 1233. Is there a maximum number of samples I can have or something?

Sizes of the phyloseq objects:
firs

[2022-04-08 19:51] pauGuas commented on #1578
I realized some of my samples had duplicate sampleIDs even though the barcodes were different. Here is the code I used to make sure each sample had a unique ID before merging:

sample_names(ps4) <- paste("four", sample_names(ps4))

[2022-04-08 19:51] #1578 closed

[2022-04-10 14:42] emankhalaf opened #1579 "Error when calculating prevalence of taxa (arguments imply differing number of rows)"
Hi,

I generated the phyloseq object from DADA2 pipeline, and when calculating the prevalence using this code:

`prevelancedf = apply(X = otu_table(ps),
                 MARGIN = 1,
                 FUN = function(x){sum(x > 0)})
# Add taxonomy and total read counts to this data.frame
prevelancedf = data.frame(Prevalence = prevelancedf,
                      TotalAbundance = taxa_sums(ps),

[2022-04-11 08:51] magibc commented on #1577
Find out the typo error. The database used (UHGG) does not use "_" in the species naming.

Then, I close this issue but I maintain the text if it can helps someone in the future to tackle this "typo error"

[2022-04-11 08:51] #1577 closed

[2022-04-12 14:01] jmlayton opened #1580 "Components of differing sample lengths"
I have modified my sample data file from 246 samples to 235 samples and would like to remerge it into a phyloseq object with the ASV and TAX table I already built, that still have 246 samples. Is there a way of merging the three? I keep getting the error:
`ps <- phyloseq(ASV, TAX, SAM)

Error in validObject(.Object) : invalid class “phyloseq” object:
 Component sample names do not match.
 Try samp

[2022-04-12 22:08] jos4uke commented on #781
Hi
I think the error is related to your second subset_samples call. You search SampleID in remove object, which refers to a phyloseq object and not a character vector as you expected.
So to fix it, remove object should be the character vector corresponding to the sample ids. So you don't need to call subset_samples in the first place. And then call subset_samples filtering out sample ids in remove

[2022-04-14 20:50] ycl6 commented on #1580
Hi @jmlayton

You'll need to subset your `OTU` to contain the same 235 samples, for example:

[code]

<sup>Created on 2022-04-14 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-04-17 10:01] jarioksa opened #1581 "se=TRUE has been unavailable in vegan::fisher.alpha since 2013"
SE was removed from `vegan::fisher.alpha` in CRAN release 2.0-10 of December, 2013 (and for a reason). However, you still expect it in `phyloseq::estimate_richness`. This does not cause problems in **phyloseq** itself, because you explicitly avoid calling `vegan::fisher.alpha` in your examples and tests. However, it breaks **microbial** package, and that in turn blocks **vegan** submission in CRAN

[2022-04-17 11:46] jarioksa commented on #1581
It seems that I can fix the immediate problem within **vegan**, and from that point of view this not an urgent problem. However, the SEs have not been there for 8+ years, so please remove the option.

[2022-04-17 20:35] Callahan-McG opened #1583 "tax_glom() not aggregating with no error message"
Hi all, I am using phyloseqs tax_glom at the phylum level and it is not aggregating the taxa. I have tried at other taxonomic levels too and it has not been working for me. Unfortunately there is no error message so I am not sure how to trouble shoot. Thanks for the help.

      Taxonomy Table:     [3 taxa by 3 taxonomic ranks]:
           X      Kingdom    Phylum
      ASV1 "   1" "Bacteria" "Cya

[2022-04-17 21:56] ycl6 commented on #1583
Hi @Callahan-McG

It is probably the same issue as #1551. You have a non-standard taxonomy table that starts with `x`. Try reformat your taxonomy table by moving `x` to last column.

[2022-04-18 15:14] FarhatAA opened #1584 "Taxa bar plot issue (taxa are not arranged as per their percentages) fct_reorder not working"
![image](https://user-images.githubusercontent.com/98632880/163921808-e0057eee-5685-4f29-a5e9-566230e32583.png)

Hi, I am a PhD student. I am doing the gut microbiome analysis for the first time. I really need help to solve this issue as I am the only one doing this in my group. I am facing issues regarding the taxa bar plot (relative abundances bar plot). My issue is the taxa are not completely a

[2022-04-19 14:32] #1584 closed

[2022-04-20 12:09] Callahan-McG opened #1585 "Error when making phyloseq object"
Hi,
I am having issues when loading data into my phyloseq object. I have read the other posts here about similar issues and tried using those tactics but I seem to have a different issue here. Any ideas how to troubleshoot this? I am attaching screenshots of the 3 tables for reference. Thank you!!

[1] "matrix" "array"

[1] "matrix" "array"

[1] "data.frame"

character(0)

[1] TRUE

[1] TRUE

[2022-04-20 12:28] Callahan-McG commented on #1585
![IMG_6876](https://user-images.githubusercontent.com/102187387/164230299-704ec2a9-2265-4030-8eb6-6b3c9b7fb2d8.JPG)
![IMG_6875](https://user-images.githubusercontent.com/102187387/164230301-555f3e9d-1816-4926-bb58-873491990e08.JPG)
![IMG_6874](https://user-images.githubusercontent.com/102187387/164230309-6d27536a-d880-4d6c-8f44-6f753790583d.JPG)

[2022-04-21 12:29] Callahan-McG commented on #1583
Hello @ycl6 , thank you so much for your response. You were exactly right and this fixed my problem. Cheers!

[2022-04-21 12:59] #1585 closed

[2022-04-22 14:49] otaviolovison opened #1586 "Barplot of relative abundance for a longitudinal study"
Hello!

I have been trying (without success, obviously) to 'plot_bar' for a longitudinal study. The idea is to divide the patients in facets (PatientID), each facet containing the samples (SampleID) that corresponds to that single patient. I have tried to use 'facet_grid', but the facets are plotted with all the samples, not just from that particular patient. I have tried the 'facet_wrap' which re

[2022-04-22 20:23] ycl6 commented on #1586
Hi @otaviolovison

The `plot_bar` function returns a `ggplot` object and you can build on top of it with ggplot2's functions using `+`, For example:

[code]

[2022-05-09 11:28] shahrulalam commented on #1020
I am facing the same issue for my 4 pipelines. These pipelines were fine when last time I worked on them!! Surprizing. Any issue with the phyloseq(),... command?

[2022-05-10 02:51] hank00000 commented on #1020
I'm having a similar issue where my metadata table has proper row names but my OTU table has no row names so can't match to the metadata?

[2022-05-12 13:53] vee3capp opened #1587 "Extract Alpha Diversity Output into excel or .csv file"
Does anyone know how to extract alpha diversity outputs from the estimate_richness () function? I am having a hard time finding the correct way to format the data. I also use the Dunn Test and want to extract the Z and p-values.

alpha.pb2<-estimate_richness(post.bloat.two)
cbind.pb2 <- cbind(sample_data(post.bloat.two), alpha.pb2)
dunnTest(Chao1~location, data=cbind.pb2, method="bh")   -> want to

[2022-05-12 14:15] vee3capp commented on #1587
![image](https://user-images.githubusercontent.com/78462291/168095926-9270d0b9-c7f3-42e1-9b96-21fad0108c99.png)
 This what the output looks like

[2022-05-13 14:56] jajarom16 opened #1588 "Merge new data with current phyloseq object"
Hey!

I al trying to merge an OTU table with new data using: physeq2 = phyloseq(OTU, TAX, SAMPLE). But after trying to merge, physeq2 only consists of the OTU and TAX table. Very strange because de col names of OTU are the same as the row names of SAMPLE. Can anyone help me? In attachment some 'proof'.
<img width="583" alt="Schermafbeelding 2022-05-13 om 16 53 12" src="https://user-images.githubus

[2022-05-14 16:19] ricmedveterinario commented on #1521
Hi, @ycl6

I don't understand why I can't use this same function in R with species in the tables. I've tried in several ways, but I don't know why the spread function shows an error:
write.table(psar %>% tax_glom(taxrank = "Species") %>%
               transform_sample_counts(function(x) {x/sum(x)}) %>% psmelt() %>%
               select(Species, (Samples_TXT, Abundance) %>% spread(Samples_TXT, Ab

[2022-05-16 03:31] BaylorLyu opened #1589 "How to import metaphlan style in phyloseq"

[2022-05-16 07:27] fconstancias commented on #1589
Hi @BaylorLyu,
Check `metaphlan_2phyloseq` from https://raw.githubusercontent.com/fconstancias/DivComAnalyses/master/R/phyloseq_biobakery_functions.R
To access the function you could use `source("https://raw.githubusercontent.com/fconstancias/DivComAnalyses/master/R/phyloseq_biobakery_functions.R")`
Hope this helps.

[2022-05-16 19:44] aff30 opened #1590 "filtering step"
Hi, I am new to the microbiome analysis and I have been trying to filter my microbiome data after decontam but have encountered some errors. I am in the part where I would like to  remove taxa with a total relative abundance of less than 10e-5 using the following code and getting the following error below:

Error in validObject(.Object) : invalid class “otu_table” object:
 OTU abundance data must

[2022-05-17 16:46] act837 opened #1591 "Importing sequence file to existing phyloseq object"
Hi

Is there a way to add a ASV sequence table to an existing phyloseq object?

I know that this is possible when making a new phyloseq object if you start with a count table where the row names are sequences, and you want to replace these with ASV names, and store the sequences in refseq within the phyloseq object. See the code below.

dna <- Biostrings::DNAStringSet(taxa_names(ps))
names(dna) <-

[2022-05-17 19:32] #1591 closed

[2022-05-17 19:35] act837 commented on #1591
Figured it out in case anybody has the same question - just needed to import the fasta file properly with readDNAStringSet().

seqtab<-readDNAStringSet("sequences.fa", format="fasta")

TAX<-tax_table(tax)
ASV<-otu_table(counts)
samples<-sample_data(meta)
ps<-phyloseq(ASV,TAX,samples,seqtab)

[2022-05-19 20:28] lauramason326 opened #1592 "Importing atypical data"
Hello,
I am trying to import a file into phyloseq that does not look like the files in the tutorials. Can you help me?
[code]
Thanks!
Laura

[2022-05-19 20:56] pauGuas commented on #847
Hi, I know this is from a long time ago but I am trying to figure out how I can know which sample is which when I get the output from this code.

[2022-05-19 21:32] pauGuas commented on #1487
@ycl6 I am having trouble applying this to my data. I just need to know the top 8 genera of each sample.

[2022-05-20 06:34] vaee4 commented on #1521
@ycl6 Can you please help?
Thank you

[2022-05-20 06:35] vaee4 commented on #1521
I am getting a similar error.
@ycl6 Can you please help?
Thank you

[2022-05-20 18:43] pauGuas opened #1593 "Need to calculate top taxa by sample"
Hi, I need to calculate the top 6 taxa present in each sample of my phyloseq object...not the top 6 taxa ACROSS the entire dataset. Does anyone know how to do this?

[2022-05-20 21:26] ycl6 commented on #1521
Hi @ricmedveterinario and @vaee4

With Species, please try the code below and see if it runs without error. In `select`, we also include `OTU`. In the resulting table, the first two columns will be OTU and Species, followed by all the samples.

[code]

Save data.frame to file

[code]

[2022-05-21 14:59] ycl6 commented on #1590
Hi @aff30

Is `pst` an phyloseq object? What is the message shown in R when you type in `pst` and `dim(otu_table(pst))`

[2022-05-21 15:50] ycl6 commented on #1592
Hi @lauramason326

Below I am using the demo dataset `GlobalPatterns` to first construct a data.frame similar to your data structure. You can adapt the rest of the code to your real data.

[code]

[code]

Below I convert Sample and OTU to `factor`, rename OTU ID to ASV_xxxxx and sort the data.frame.

[code]

[code]

They we build the required data for `phyloseq`. In `sam`, you can add other sample

[2022-05-21 21:41] pauGuas commented on #847
Okay, I asked the great Dr. John Quensen for help with this code. The "find.top.taxa2" above doesn't add sample names to the output, so he edited the code to read as such:
`p <- ps

find.top.taxa2 <- function(x,taxa,num){
  require(phyloseq)
  require(magrittr)

  top.taxa <- tax_glom(x, taxa)
  otu <- otu_table(top.taxa) # remove the transformation if using a merge_sample object
  tax <- tax_tabl

[2022-05-23 00:08] vaee4 commented on #1521
Hi @ycl6,
The code works.
Thank you very much for your help.
I hope it fixes @ricmedveterinario's issue as well.
Cheers

[2022-05-23 13:26] aff30 commented on #1590
Hi - when I type pst I get:
phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 8897 taxa and 614 samples ]
sample_data() Sample Data:       [ 614 samples by 4 sample variables ]
tax_table()   Taxonomy Table:    [ 8897 taxa by 6 taxonomic ranks ]

and,
 dim(otu_table(pst))
[1]  614 8897

Thank you!

[2022-05-25 14:30] paiboon-aut opened #1594 "How to convert the results from USEARCH to phyloseq object?"
Hi,

I am new on phyloseq package.

I would like to ask you that "Do you have the scripts or tutorials to convert the results from USEARCH to phyloseq object (for using in RStudio)?".

Best regards,
paiboon-aut

[2022-05-31 05:07] abroryp2 commented on #1487
Hey, I am new to microbiome data analysis. In my case, I would like to make a boxplot based on specific taxa that I would like to know, for example, I would like to make a barplot but only for Roseburia. Could you help me with how to make it?

This is one of example that I have tried.
bacteroides<-subset_taxa(phy.best.hit,Genus=="Roseburia"|Genus=="Bacteroides")
phy.select.taxa1<-plot_listed_taxa(

[2022-05-31 11:41] shahrulalam commented on #781
Hi @janetw
thanks it was exactly what I was looking for! :)

Best
Alam

[2022-06-01 08:22] MichWeb75 commented on #1503
You can have a look at this post https://github.com/joey711/phyloseq/issues/1004

[2022-06-01 10:56] mweberr opened #1595 "Rarefy and Restroom example"
Hi all,

I found several opinions about the rarefy_even_depth procedure and also in the manual it is stated that the procedure is not advocated.
I am a beginner in microbiome analysis and I started with the restroom example, which is a really good start to using phyloseq.
http://joey711.github.io/phyloseq-demo/Restroom-Biogeography

In the example rarefy_even_depth is set to 500 to reproduce the r

[2022-06-01 11:00] MichWeb75 commented on #1593
You can do this with the apply function, iterate over all samples and calculate the top OTUs for each sample.
`otuMatrix <- apply(otu_table(ps),2,function(x){ names(sort(x,TRUE)[1:6])  })`

In a second step you need to annotate your OTUs with taxa names.

[2022-06-02 11:15] Pstege opened #1596 "Potential error in phyloseq::rarefy_even_depth"
Hello everyone!

It is fully possible that I am doing something wrong, but it would be great it someone can check the following;

when I run the rarefy_even_depth on metagenomic sequencing data, so raw counts per OTU, the number of OTUs per sample is different each time I rarefy. Since I apply _set.seed_, this should not be possible, right? I tried;

[code]

I also tried to specify _rngseed_, but

[2022-06-04 06:38] Gowri1994 opened #1597 "Error in (function (classes, fdef, mtable) : unable to find an inherited method for function ‘tax_table’ for signature ‘"matrix"’"
HI, I have been trying to create "physeq" and encountered the following error while loading the TAX table.

Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘tax_table’ for signature ‘matrix'

The code I used is

setwd("/Users/gowri/Desktop/taxonomizr")
prepareDatabase('accessionTaxa.sql')

#Test system
taxaId<-getId(c('Homo sapiens','Bos taurus','Hom

[2022-06-05 02:11] chuynh96 opened #1598 "tax_glom, invalid archetype provided"
Hello,
I'm trying to make a composition plot that is proportional, but for some reason I keep getting an error for tax_glom. Earlier today I ran this code on a different dataset and didn't have issues, so I want to know what I need to do to be able to plot. Thank you!

#Making a percentage bar plot
ps.rel = transform_sample_counts(ps, function(x) x/sum(x)*100)
# agglomerate taxa
glom <- tax_glom(p

[2022-06-07 08:19] valentinavan opened #1599 "phyloseq function drops variables"
Hi,

Not sure why but when I
`phylo_object<- phyloseq(phylo_OTU, phylo_TAX, phylo_samples)`

`phyloseq_object` variables number does not match with the number of variables in `phylo_OTU` and `phylo_samples` and in the original otu table. It drops 2 variables and I cannot understand why. No errors.

Any ideas?

Thanks

[2022-06-07 08:31] #1599 closed

[2022-06-09 17:17] ycl6 commented on #1598
Hi @chuynh96

Based on #1110, it seems your OTU table contains `NA`

[2022-06-09 21:46] cabraham03 opened #1600 "Calculate the average of the relative abundance at Family level"
Hi, I would like to know if my approach to calculate the average of the relative abundance of any taxon is correct !!!

If I want to know if, to calculate the relative abundance (percent) of each family (or any Taxon) in a phyloseq object (GlobalPattern) will be correct like:

[code]

in this case the Bacteroidaceae were the most abundant family in all the samples of GlobalPattern  (26 samples and

[2022-06-12 11:15] cyklee commented on #1282
@phorve, `subset_samples()` and `subset_taxa()` use non-standard evaluation (see issue #752), which means you should only use it for interactive (i.e. not in loop) use. My solution to that is to first generate a logical vector based on whatever critieria you have, in this case, we are subsetting by SampleName. There is probably a much better way than

[code]

[2022-06-12 19:52] ycl6 commented on #1600
Hi @cabraham03

Your code will give you the answer you wanted, i.e. the average relative abundance of taxa at Family level.

I used a simpler, and possibly slightly quicker, way of giving the same results.

[code]

[code]

[2022-06-13 09:49] shakthees commented on #1129
![image](https://user-images.githubusercontent.com/107401140/173326737-7469e806-743b-40c7-b16a-799aa63bf8bf.png)

I have created my relative abundance plot. however, i feel that it is too messy and would like to speperate them by the variables (ie. "CF70", "NUS" etc). i subset the data and created the plot again but i keep getting all the genus in the legend instead of just the ones present in tha

[2022-06-13 19:14] thierryjanssens commented on #1087
Hi,

how dou get a label plotted (i.e. OTU or LCA rank) to the plotted points from the subset.
when I use

Error in FUN(X[[i]], ...) : object 'Treatment' not found

It seems to interfere with the main phyloseq ordination plot in which Treatment has been used in a label.

Thank you in advance.

Kind regards,

T.

[2022-06-13 20:02] gagecoon commented on #901
@PatoUru

I ran the tax_glom line with my raw counts phyloseq object and then converted that output to relative abundance rather than using relative abundance to select for one division of taxonomy. This resolved my issue with having the plot come up short of 1.0, hope this helps.

[2022-06-14 00:21] tierrasoledad commented on #283
I had the same problem when I tried this code:
"error:
otu_table(vst.fungi.phyloseq)<-otu_table(fungi.vst, taxa_are_rows = TRUE)
Error in access(object, "otu_table", errorIfNULL) :
otu_table slot is empty."

So I tried it this way...
So I still ran the variance Stabilizing Tranformation on fungi.DESeq object.
fungi.vst<-varianceStabilizingTransformation(fungi.DESeq,blind=FALSE,fitType = "local")

[2022-06-14 00:58] valentinavan opened #1601 "Density plot"
Hi, I am working with a phyloseq object:
[code]
I do not understand why at a phylum level it correctly recognizes 3 site levels
[code]
<img width="199" alt="Picture1" src="https://user-images.githubusercontent.com/63851352/173471072-ae5b4856-0f26-4e79-ab82-693b9bbd056f.png">
But if I change to species it only sees 2: deep and turist:

[code]
<img width="419" alt="Picture2" src="https://user-images

[2022-06-14 21:37] ycl6 commented on #1601
Hi @valentinavan

With your code, before `ggplot`, did you check its output so that you are seeing the entries of all 3 sites? Maybe species info is missing in entries from entrance?

[code]

[2022-06-15 05:00] emihoe commented on #1241
Hello, was there ever a solution to this error?

[2022-06-15 21:43] cabraham03 commented on #1600
hi @ycl6, thanks so much for you code, it give us the same result, so my approach is ok, but I will use your code, Thanks so Much !!!

[2022-06-21 07:27] #1601 closed

[2022-06-22 13:03] marinemtblc opened #1602 "Create a HeatMap at the genus level"
Hi,
I am trying to create a HeatMap with in y axis my genus instead of OTUs, the best i was able to do was to get a HeatMap with my OTUs label with their genus but it is not what I want. I would like to merge the different OTUs with the same genus toxonomy level in order to get only one line per genus.
To illustrate this is what I get :
![image](https://user-images.githubusercontent.com/108003776/

[2022-06-24 07:18] andrebolerbarros commented on #689
Can this also be performed using pairwise.perm.manova function from RVaideMemoire package?

https://www.rdocumentation.org/packages/RVAideMemoire/versions/0.9-81-2/topics/pairwise.perm.manova

[2022-06-25 08:53] abossers-uu commented on #1596
Ha Paul
The behavior of set.seed is somewhat unexpected and not picked up by the function. Probably override by the rngseed option.
However is you specify specifically for instance rngseed=12345 it works as expected.

Maybe change the default rngseed=false in the phyloseq package to something more sensible? Or is there typical use case for setting it to false?

[2022-06-25 08:56] abossers-uu commented on #1588
Is your metadata containing the correct sample names? And are these specified as row names?

[2022-06-25 09:01] abossers-uu commented on #1575
Correct way that should work (pseudo code).
Remove zero taxa (subset_taxa)
Make relative (transform_sample_counts)
Tax_glom at taxrank
Order out-table high to low (over columns if taxa are columns) and get first 10 colnames.
Subset taxa using these colnames.
Plot...

[2022-06-28 07:27] Naomi1030 opened #1603 "OTU Table Formating"
Hi All,
I inherited some data that was used in phyloseq previously and that I would like to use in corncob. I have not previously seen the OTU table in the format it is in currently. Is this an acceptable format? I am used to there being asv numbers assigned and samples as columns and rows as asv numbers rather than sequences as columns and sample numbers as rows (shown in the attached image). Thi

[2022-06-28 11:00] ycl6 commented on #1603
Hi @Naomi1030

It's possible to have OTU table formatted with samples in rows and taxa in columns. `phyloseq` will handle it internally when you use any of its functions.

You can check if the correct flag was set in the phyloseq object. For example:

[code]

[code]

When you use `otu_table` to look at the data in `GlobalPatterns`, you'll notice it says *taxa are rows*.
In your case, it should say

[2022-06-28 19:42] marwa38 opened #1604 "total number of taxa even after subsetting?!"
Hello amazing people
I found it strange when I need to check for number of taxa in the phyloseq object after subsetting the samples and get the same number of taxa. Is there is away to subset samples and check for the actual number of taxa per each phyloseq object?
_NB. when I start working on certain samples from the beginning  without susbetting it does gave me less number of taxa (for the same

[2022-06-28 20:29] marwa38 commented on #1604
I tried to use another function and I still can't have number of taxa for the subset
[code]

[2022-06-29 09:48] ycl6 commented on #1604
Hi @marwa38

You can use `prune_taxa` to keep taxa with at least 1 count in the object, e.g.

[code]

[code]

[2022-06-29 14:04] rick8813 opened #1605 "Strange barplot results"
Hi, I have a question about Phyloseq barplots. When i run plot_bar() from the phyloseq package I got this strange barplots with coloured lines of different taxa alternate with black lines (that can actually be quite thick). Does someone know why this happens and how to solve it?

[2022-06-30 15:56] camilagazolla commented on #800
Hello! I had the same problem creating Fisher curves.

To correct this you should not compute Fisher when the sample has just singletons.

[2022-07-03 13:39] #1563 closed

[2022-07-03 13:39] #1554 closed

[2022-07-03 13:40] #1553 closed

[2022-07-03 13:43] #1516 closed

[2022-07-03 13:44] #1510 closed

[2022-07-05 11:58] DeniRibicic commented on #1519
Hi,

Just stumbling across this thread, and would like to get some clarification if possible.
@ycl6 you have provided following code to run simper on phyloseq object:

[2022-07-06 14:35] LucreziaMor commented on #546
This worked for me! thank you very much!!

[2022-07-08 18:06] aff30 opened #1606 "tax_glom problem"
Hi,

I am working on this filtering step of a microbiome data and when I am using the tax_glom I am losing taxa.
psf3 <- psf3 %>% tax_fix(unknowns = c("Incertae Sedis")) # When I check the phyloseq object before the tax_glom I have the following:

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 12430 taxa and 717 samples ]
sample_data() Sample Data:       [ 717 samples by

[2022-07-08 19:25] aff30 commented on #670
Hi Joey,

I am filtering my data for relative abundance and when after transform_samples_counts I try to remove taxa with total relative abundance less than 10e-5 but I get the following error:  Error in validObject(.Object) : invalid class “otu_table” object:
 OTU abundance data must have non-zero dimensions.

I am using the following code:
# transform to relative abundance
pst <- transform_sampl

[2022-07-15 07:23] wRajter commented on #523
Hi there,

I've encountered the same problem. I wanted to make a plot with jittered data points, but non-jittered original points remained on the plot.

As mentioned, this tutorial explains how to fix -> http://joey711.github.io/phyloseq/plot_richness-examples. It is in the last paragraph (More details about ggplot2).

I used the code for the plotting image and right after it, I added this one lin

[2022-07-21 21:49] brockels opened #1607 "write_phyloseq does not work in R4.2.1"
I went back to R4.0.2 (64bit) and it works in there, Other things struggle but that command
write_phyloseq(ps,"otu") now works again. This needs fixing in the latest R please :)

[2022-07-21 21:49] brockels commented on #1607
the newer R might fix this but the latest R is not available at work yet

[2022-07-24 11:15] ycl6 commented on #1607
@brockels The `write_phyloseq` function is not part of the `phyloseq` package. It is from the `microbiome` package.

afaik, the developers of `microbiome` has removed the function, probably that's the reason you can't use it in newer R and Bioconductor. If you have any issue with this, you should get in touch with its developers.

https://github.com/microbiome/microbiome

[2022-07-26 09:53] MDSHAHADATHOSSAIN opened #1608 "To compare the OTU method with the ASV method"
Hi. I have created an OTU dataset from my fastq files. In my OTU dataset, I assigned taxonomy from phylum to species level using SILVA reference database. I did the sub setting of 10 phylum's and 10 genera from my OTU dataset using phyloseq.  On the other hand, I also created an ASV dataset from the same fastq files. In my ASV dataset, I assigned the taxonomy from the phylum level to the species l

[2022-07-26 15:48] holly2021FL opened #1609 "pairwise.adonis2 result is not consistent with the result of adonis2"
Hi, Guys, recently I met with a question.
the result of adonis2 shows p value is 0.18>0.05, however, the result of pairwise.adonis2 still shows some difference  among several groups. Does anyone know the reason or how to solve this controversy?
Here is the code I used.
adonis2(disc.wuf~sample_data(physeqD)$group, perm = 9999)
metadata <- as(sample_data(physeqD), "data.frame")
pairwise.adonis2(disc

[2022-07-26 15:50] holly2021FL commented on #1609
adonis2(disc.wuf~sample_data(physeqD)$group, perm = 9999)
metadata <- as(sample_data(physeqD), "data.frame")
pairwise.adonis2(disc.wuf~group, data=metadata)

[2022-07-27 10:14] pedrocr83 opened #1610 "TSNE and UMAP and 3D"
Hi,

Use your package all the time for research and production!

Suggestion to add TSNE and UMAP dim reduction. Also 3D plot_ly would be awesome...

[2022-07-27 18:26] freixas84 commented on #1402
Stuck at the same issue, did you ever get to fix it?

[2022-07-27 20:08] carolineoj commented on #608
Hi everyone,

Despite the listed solutions, I was still struggling with this issues because I have a large metadata file with lots of variables I wanted to retain after merging samples. I came up with this _imperfect_ workaround that skips the renaming of variables, which was not feasible with my dataset.

**Important warning**: With this approach, _variables that were unique in the original metad

[2022-07-28 07:03] babaolanqiu commented on #1374
same issue here

[2022-07-28 12:28] termithorbor commented on #1608
Can you add the code you used here with the result you get?

[2022-07-29 09:16] MDSHAHADATHOSSAIN commented on #1608
I did the sub setting from my OTU dataset on this way:
sub_algae_phylum <- subset_taxa(phy_filtered, phylum %in% c("Chlorophyta", "Bacillariophyta", "Ochrophyta", "Eustigmatophyceae", "Dinoflagellata", "Phragmoplastophyta", "Rigifilida", "Schizoplasmodiida", "Streptophyta", "Xanthophyceae", "Nucleariidae_and_Fonticula_group"))

sub_algae_genus <- subset_taxa(phy_filtered, genus %in% c("Messastrum"

[2022-07-29 10:23] ibrila opened #1611 "UniFrac distances not working after merging samples"
I am trying to merge samples as in the tutorial to see what is the group-level response to the explanatory variable.

The command works fine, and I am able to calculate the Bray-Curtis and Jaccard distances but trying to run UniFrac :

` rbiom::unifrac(biom=as.matrix(phyloseq::otu_table(ps_merged)), weighted=FALSE, tree=phy_tree(ps_merged))`

gives this error:

The command works fine with the unme

[2022-07-29 11:08] termithorbor commented on #1608
Have you tried the subset function like this? subset_taxa(data_merged, Genus=="Acidithiobacillus" | Genus=="Leptospirillum" )

And yes you should always use the same database if you want to make valid comparisons.

[2022-07-29 11:38] Dumdum93 commented on #1366
Hi, I have the same problem (same warning message when I want to plot_ordination...).
How have you manage?
Thank you

[2022-08-03 11:10] ibrila commented on #1611
For whatever reason, after merging samples, the new OTU table had group names as rows instead of OTU IDs! So once I transposed the new OTU table the UniFracs work.

[2022-08-03 11:10] #1611 closed

[2022-08-08 14:07] mawa86 commented on #1366
same here, apart from the first error message..

[2022-08-10 16:07] gmteunisse commented on #850
Not sure if anyone is still facing this issue, but I have implemented a flexible naming function called `name_na_taxa` that renames NA taxa to the last identified rank in [the fantaxtic package](https://github.com/gmteunisse/fantaxtic).

[code]

If you don't feel like installing the package, just copy + pase the code for the function below. This could be integrated into phyloseq if the developers

[2022-08-10 16:19] gmteunisse commented on #1575
I think [`fantaxtic](https://github.com/gmteunisse/Fantaxtic) does what you are looking for, try running the example below. If you like what it does, replace `GlobalPatterns` with you phyloseq object, and change the grouping factor to the appropriate name for mammal species in your data.

[code]

[2022-08-11 07:03] emnabensaad commented on #1383
hello, how did you solve this issues please?

[2022-08-11 08:28] gmteunisse commented on #1602
I think your code is correct, but that you have multiple genera called Mycoplasma, with a different upstream taxonomy. Check out your taxonomy table to confirm.

[2022-08-11 08:31] gmteunisse commented on #1600
Make sure to set `tax_glom(GlobalPatterns, "Family", NArm = F)`, else NA taxa will be discarded and your relative abundances will be incorrect.

[2022-08-12 01:26] SungUk commented on #416
I might find the exact cause of the error.
I used only one sample data.
1 dimension.
Although I used coordinated data form taxa data to draw plots, the function may check the dimension of sample data for coloring.
I added a trash column to my sample data, and it worked.

[2022-08-12 08:09] gmteunisse commented on #1606
I assume that you are losing some taxa (and their counts) in `tax_glom` because you haven't set `NArm = F`. In any case, you expect to have less taxa after `tax_glom`, as it merges taxa at a specified taxonomic rank - perhaps you have very few Genus annotations in your data?

Lastly, you use `taxa_sums(pst)` in your example, but your data is called `psf3`. Does this resolve your error?

[2022-08-16 14:42] gcuster1991 opened #1612 "Request to add additional aes() arguments to plot_ordination"
Would it be possible to add additional aes arguments to the plot_ordination function? Specifically adding the size and alpha arguments would allow for visualization of additional grouping variables on a single ordination plot.

Thanks!

[2022-08-16 14:59] gcuster1991 commented on #1612
Hi Susan,
Thanks for the quick reply. I had tried this but was unsuccessful. In this case, "Time" is a categorical variable with two levels. I would like to have one level empty and the other filled.

[code]

This is the plot I get out when I include + geom_point(aes(alpha="Time")).

<img width="712" alt="Screen Shot 2022-08-16 at 10 55 04 AM" src="https://user-images.githubusercontent.com/2425678

[2022-08-17 12:58] MirjamBloem opened #1613 "plot_ordination of ordinate result using CAP gives axis1 = CAP1 and axis2 = MDS1"
Hi,

I don't understand why, when plotting the ordinate result using the setting "CAP", the visualisation shows axis1 = CAP1 and axis2 = MDS1.
![image](https://user-images.githubusercontent.com/78090682/185138663-edfe5ab9-eb6a-4b91-9dd9-c8b510736f4c.png)

Hope someone can explain why this happens and potentially how to change this into CAP2 on axis2.

bests

[2022-08-17 17:34] sarakn97 opened #1614 "How to Identify Top 10 Most Abundant Fungi Genera and list them with Relative Abundance."
Hello,
I need to identify the top 10 most abundant Genus for the Asthma Samples and the Control Samples that I have.

I have the following phyloseq object:

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 546 taxa and 37 samples ]
sample_data() Sample Data:       [ 37 samples by 12 sample variables ]
tax_table()   Taxonomy Table:    [ 546 taxa by 7 taxonomic ranks ]
refse

[2022-08-17 19:38] sarakn97 commented on #1614
I believe that I figured it out with tax_glom?
[code]

[2022-08-18 08:07] spholmes commented on #1612
Gordon,
I don't have any experience using a variable for alpha, I saw an
interesting post here:
https://www.andrea-rau.com/post/alpha-transparency-in-ggplot2/

maybe that has a solution,
let us know.
Best
Ssuan

On Tue, Aug 16, 2022 at 3:59 PM Gordon Custer ***@***.***>
wrote:

--
Susan Holmes

[2022-08-18 14:58] gcuster1991 commented on #1612
Hi Susan,
I was not able to get that route to work. However, while working on it, I realized if I unquote the sampleType variable in my geom_point() argument, it shows up correctly in the legend. However, the points are not changed in the actual plot.

[code]

<img width="870" alt="Screen Shot 2022-08-18 at 10 49 20 AM" src="https://user-images.githubusercontent.com/24256789/185425025-ff97394a-305

[2022-08-19 05:58] valentinavan commented on #1597
Any idea why this is happening? I am having the same issue and I am not sure why because it has always worked so far, using the same script and the same data. It stopped working. Thanks

[2022-08-19 06:22] valentinavan opened #1615 "tax_table function stopped working properly"
Hi,

I have been using this same script many times and the same data and never had any problems but lately it seems that the `tax_table `function is not working anymore.

I keep having error messages like:
[code]
or

[code]

The only think I can think of is that i have recently updated R and R studio.

Thanks

For context:
[code]

[2022-08-19 14:27] sarakn97 opened #1616 "How to rank by Relative Abundance? Why are values greater than 1?"

[2022-08-19 20:28] ycl6 commented on #1597
Hi @valentinavan It's hard to tell without seeing your input data. I can have a look at it if you don't mind sharing the data (or part of the data).

[2022-08-19 22:01] ycl6 commented on #1616
Hi @sarakn97 Your code should work as intended. I used `GlobalPatterns` to demonstrate it (in this case on the Soil subset).

[code]

[code]

Basically, it is the same as using `rowSums` to calculate the total relative abundance in each row (taxon) of the OTU table.

[code]

Where as the `colSums` of the OTU table of `ps.tA` should be 1 in all the samples.

[code]

We can also use `colSums` to sum

[2022-08-19 22:15] ycl6 commented on #1615
Hi @valentinavan

Can you provide your `sessionInfo()`? Also what did you see when you type `?tax_table` to read the R documentation?

[2022-08-20 11:11] ycl6 commented on #1613
Hi @MirjamBloem The function is working fine with me. This is what I did with the demo data:

[code]

![plot_ordination](https://user-images.githubusercontent.com/9032946/185743182-28f879ad-ad53-433a-b10a-80aa376aac1a.png)

[2022-08-20 11:43] ycl6 commented on #1612
Hi @gcuster1991 The short answer is the current `plot_ordination` can't deal with additional `aes` that's not already accounted for in the code. Adding additional `geom_` is just going to layer on top of what's already defined in the original `geom_`. Like the example below where the circular point will always show up alongside whatever other `aes` appended to `plot_ordination`.

[code]

![plot_or

[2022-08-23 14:07] YuZhang-learner opened #1617 "Filter ASV according to each group"
I have a Phyloseq file where the samples are divided into many groups, each with 4-8 replicates. I want to filter ASVs: if an ASV is present in more than 50% of the samples in a group, I keep it. How should I do in the phyloseq?

[2022-08-23 14:51] iebenb commented on #1315
The error occurs because the sample names of the OTU table and those of the sample data do not match.
You can check this using sample_names() on your OTU table and sample data.

For an example on how to solve this: [https://github.com/joey711/phyloseq/issues/1315](url)

[2022-08-25 09:45] MirjamBloem commented on #1613
Thanks for the reply.
It doesn't always happen, only in some occasions.

E.g. it happens with this section of code:
[code]
![image](https://user-images.githubusercontent.com/78090682/186631468-9cb891e8-c353-4e7b-95a2-1e952bac2c2c.png)

Also here:

[code]
![image](https://user-images.githubusercontent.com/78090682/186631575-a4d7a818-0a17-433f-a58b-e93ef6fe4df8.png)

yet not here:

[code]
![image](h

[2022-08-26 09:29] ycl6 commented on #1613
Hi @MirjamBloem I can look into this if you can provide a minimal dataset that reproducibles the bug you observed.

[2022-08-28 06:48] Taimoor059 commented on #942
Hi,
ps <-
  phyloseq(
    otu_table(green_otus, taxa_are_rows),
    sample_data(green_samples),
    tax_table(taxas)
  )

Error in access(object, "otu_table", errorIfNULL) :
otu_table slot is empty.

[2022-08-28 20:48] arachloroptera commented on #1009
Having the same issue. Exact same Error and Warning message as above. Works for similar objects in the lines above and below but not for the one in between. Haven't changed the script, just re-ran the code after restarting R. All variables are defined

[2022-08-29 09:28] MirjamBloem commented on #1613
Many thanks for offering. If you email me on mirjam.bloemendaal@radboudumc.nl i can gladly provide you with this.

[2022-08-29 13:45] ycl6 commented on #1613
Hi @MirjamBloem I have looked at your demo data, the reason why the plot axes is missing "CAP2" is because `vegan::capscale()` that is used by `ordinate()` produces only 1 eigenvalue for constrained axis. The second axis by default uses the first eigenvalue from unconstrained axes (i.e. MDS1).

Below are the codes I used to produce Bray–Curtis ordination on 3 different variables.

[code]

We can s

[2022-08-29 14:12] marwa38 opened #1618 "plot_ordination() visualisation query?"
Hi Guys
Do you know why the dots are in between and not on each boxplot?
![image](https://user-images.githubusercontent.com/68851733/187221432-65e5f062-24e6-42b2-8612-cfcf0b45f847.png)
Thanks
M

[2022-08-30 08:59] ycl6 commented on #1618
Hi @marwa38 It's a ggplot2 thing, [check this post](https://stackoverflow.com/questions/50650423/r-ggplot-how-to-align-points-with-dodged-bars)

[2022-08-30 11:10] gmteunisse commented on #1614
Yes, `tax_glom` is the right function. However, you should set `NArm = F` to avoid discarding ASVs without a genus annotation - if not, your relative abundances will not be correct.

[2022-08-30 14:54] marwa38 commented on #1618
Hi @ycl6

Thanks for your reply. Will ask my query there then. This is helpful.
Regarding plot_ordination() I tried many changes to the code to delete the title/subtitle/caption (I don't how to define it) of the previous word "Shannon" in my attached figure in the post, do you know what I can do to get rid of it?

[2022-08-30 15:09] marwa38 commented on #1618
Hi @ycl6
Here are the codes if you would to have a quick look;
[code]

I think that the figure issue is not the same as the one in stackflow you kindly shared, and might be originating from the original `plot_richness() ` code outputs, what do you think? in addition, I haven't seen this issue before using ggplot.

[2022-08-31 10:32] MirjamBloem commented on #1613
Thanks for your efforts. Why does it do so for variables "Group" and "var2" which have 2 categories but not for "var3", which has 3 categories...?
Also how can we overcome this? by using `wcmdscale` as mentioned in the stack overflow issue?

[2022-08-31 10:56] ycl6 commented on #1613
Hi @MirjamBloem I do not know the reason for the change in behaviour in `capscale`, it seems the function used to display small and negative (insignificant) eigenvalues in much older version, but this is what it does now. It would be best to direct your queries to `vegan`'s developers. `vegan` has 3 constrained ordination methods (`cca`, `rda`, `capscale`) and may produce different results.

[2022-09-01 11:26] paddyhooper opened #1619 "Tax glom not operating on phyloseq object"
Hi,

I am hoping to agglomerate my phyloseq object by phylum. I have done this with other phyloseq objects and had no issues but when I try agglomerate based on "Phylum" taxonomic rank it returns the same number of ASVs as unagglomerated

My phyloseq object is made from an ASV count table, a taxonomy table, and metadata file.

phyloseq-class experiment-level object
otu_table()   OTU Table:

[2022-09-01 13:30] gmteunisse commented on #1619
Hi Paddy, could you post a reproducible example? For example, does tax_glom also fail when using the `GlobalPatterns` dataset?

PS I see that you left the `NArm` to its default of `TRUE` in tax_glom - is this the behaviour that you want?

[2022-09-01 13:51] paddyhooper commented on #1619
Hi there, thanks very much for your quick response!

I have repeated my code with the GlobalPatterns Dataset, and get the expected result below:

data(GlobalPatterns)
GP = GlobalPatterns
GP
#> GP
#phyloseq-class experiment-level object
#otu_table()   OTU Table:         [ 19216 taxa and 26 samples ]
#sample_data() Sample Data:       [ 26 samples by 7 sample variables ]
#tax_table()   Taxonomy Table

[2022-09-01 15:22] paddyhooper commented on #1619
Hi, sorry not too sure i follow what the output is meant to give me but the output of spCliques is a long output of asv IDs

The first 10 are:

$`ASV1;_;Bacteria;_;Firmicutes`
[1] "ASV1"

$`ASV10;_;Bacteria;_;Proteobacteria`
[1] "ASV10"
$`ASV100;_;Bacteria;_;Bacteroidota`
[1] "ASV100"

$`ASV10000;_;Bacteria;_;Abditibacteriota`
[1] "ASV10000"

$`ASV10001;_;Bacteria;_;Chloroflexi`
[1] "ASV10001"

$`

[2022-09-01 15:32] gmteunisse commented on #1619
Thank you. The issue seems to be that in your tax table, there must be a column on index 1 with the ASV names. This is why each ASV is put into its own group. Remove that column (or move it to the end of your taxonomy table) and then your issue should be resolved. Let me know if that works for you.
________________________________
From: Paddy Hooper ***@***.***>
Sent: Thursday, September 1, 2022 5

[2022-09-01 16:01] paddyhooper commented on #1619
Bingo! I am sorry for not noticing sooner that I had a column with the ASVIDs within my taxonomy table! I removed this column and re-ran as below and it worked perfectly.

#checking glom
ps_16S_ave
rank_names(ps_16S_ave)
ps_16S_ave_phylum <- tax_glom(ps_16S_ave, "Phylum", NArm = FALSE)
ps_16S_ave_phylum
#phyloseq-class experiment-level object
#otu_table()   OTU Table:         [ 49 taxa and 32 samp

[2022-09-02 09:48] gmteunisse commented on #1619
No worries, glad we were able to resolve it!

[2022-09-03 21:14] B-1991-ing opened #1620 "Error in access(object, "sam_data", errorIfNULL) : sam_data slot is empty."
Dear phyloseq support team,

I got the error when using the phyloseq software. Could you help me have a look?

**Error:**
Error in access(object, "sam_data", errorIfNULL) :
  sam_data slot is empty.

**My code:**
metadata = read.delim("metadata.tsv",row.names = 1)
dat = read.delim("matrix_ggclusternet.tsv",row.names = 1)
ps = phyloseq(sample_data(as.matrix(metadata)),
               otu_table(as.m

[2022-09-04 14:35] ycl6 commented on #1620
Hi @B-1991-ing I tried downloading both files, but they are not text files.

[2022-09-04 15:51] B-1991-ing commented on #1620
Thank you very much for your reply, I-Hsuan Lin. I can't upload the tsv, so I changed them into the text files.

I can send to you in email using my email - bisong@env.dtu.dk.

Best,

Bing

[2022-09-04 16:20] B-1991-ing commented on #1620
Could you give me your email address?

[2022-09-04 20:25] B-1991-ing commented on #1620
I am using the **rstudio1.3.1073** and **R.4.0.0**, **phyloseq 1.34.0**, and all other added packages as shown below.

library(tidyfst)
library(phyloseq) #packageVersion("phyloseq")
library(igraph)
library(network)
library(sna)
library(ggrepel)
library(psych)
library(reshape2)
library(ggplot2)
library(ggpubr)
library(RColorBrewer)
library(data.table)
library(ggClusterNet)
library(tidyverse)
librar

[2022-09-04 21:18] ycl6 commented on #1620
Hi @B-1991-ing

Unline `otu_table` and `tax_table`, `sample_data` requires an object of `data.frame` class when it is used to create a phyloseq object. Also, your `dat` has samples in rows and taxa in columns, therefore we need to change `taxa_are_rows` to `FALSE`.

So, the code should be like this:

[code]

[code]

[2022-09-04 21:25] B-1991-ing commented on #1620
Hi I-Hsuan,

Thank you very much for your reply.

Have a nice evening.

Best,

Bing

[2022-09-04 21:30] B-1991-ing commented on #1620
But, one more question,

For my metadata and dat, I have 136 rows. Why it showed 117 samples?

[2022-09-04 21:42] ycl6 commented on #1620
Hi @B-1991-ing Seems like some sample names do not match in `dat` and `metadata`. One is using "BGO" and the other is "BG".

[code]

[2022-09-04 21:47] B-1991-ing commented on #1620
Thank you very much for your reply, I-Hsuan,

I didn't checked the sample ids very well.

Best,

Bing

[2022-09-07 08:34] lynneitelson opened #1621 "sam_data slot is empty"
Hi!

I'm trying to create a relative abundance plot and got this error which I cant figure out.
![image](https://user-images.githubusercontent.com/109670658/188830932-1757a289-5f5e-4af0-be6a-f7e48a19c68e.png)

While making these changes the class changed from Large phyloseq to Formal class phyloseq.
``
total_samples <- phyloseq::nsamples(ps)

ps.pruned <- prune_taxa(taxa_sums(ps) >0, ps)

# merge

[2022-09-08 07:46] lynneitelson commented on #1621
I also tried to turn the metadata also into a phyloseq object in order to merge both object, but still got "sam_data slot is empty"
metadata=read.csv("metadata.csv", header = TRUE, row.names = 1)
metadata_ps <- phyloseq(sample_data(as.matrix(metadata)))

[2022-09-08 08:54] ycl6 commented on #1621
Hi @lynneitelson Like I mentioned [here](https://github.com/joey711/phyloseq/issues/1620#issuecomment-1236417237), `sample_data()` requires a `data.frame` class object as input, not matrix.

[2022-09-08 10:36] lynneitelson commented on #1621
Thank you very much!

[2022-09-09 11:06] siriusorignblack commented on #1597
i met the same question and i solved it as following:
use tax_table as phyloseq::tax_table rather than only tax_table. because in my situation, it seems there exists some conflicts concerning the tax_table function between phyloseq package and microbiotaprocess package.
hope this may have some help for your issue.

[2022-09-11 19:44] jorondo1 commented on #1197
Hi!

Relatively new to all this, @Jeremieauger and @elisemillar you helped me a lot here.

I want to group all the non-top taxa together to make an "other" category. This is what i've come up with, seems to work, but I'd love to know your thoughts on this, if you see any flaw with the approach.

One major difference is that I use `aggregate` by `sum` instead of `mean` (and that the whole code is w

[2022-09-12 16:57] #1612 closed

[2022-09-12 19:29] als3376 commented on #1327
I have the same problem. I done up to

facet_grid(Seed ~ variable)+facet_wrap(Seed~variable, scale="free_y")
It kind of works, but I wonder how to move the "Seed" information to the right side of the figure...

Can you tell me what you did after that?

[2022-09-16 18:29] cramjaco commented on #1219
Anyone? I'm here with the same problem now.

[2022-09-21 11:33] LaraMacheriotou opened #1622 "Change in internal nodes when appending phylogenetic tree to phyloseq"
Dear Joey,

I have made a GTR tree using phangorn which I then root at midpoint. The resulting tree has 8548 tips and 8547 internal nodes. I then append this tree to my phyloseq object and the number of internal nodes drops to 4041. This then gives me many errors when ttrying to plot ordinations etc. What could be going on?

I have attached the rooted tree and my phyloseq object.

package.version(

[2022-09-27 11:12] rfjkullberg opened #1623 "Error in building phyloseq object using phyloseq()"
I am having a problem when building a new phyloseq object from manually imported data using `phyloseq()`. If I run:
[code]

I get this error:
[code]

Adding only one of the components (either OTU-table or Tax-table) at a time, gives the same error:
```phyloseq <- phyloseq(OTU)```
[code]

All other steps are -as far as I'm aware of- working perfectly fine. It's only this final step of combining the

[2022-09-28 13:28] mawa86 commented on #1197
@jorondo1
Hi Jonathan
I really like your version with pipes!
I'm trying to reproduce it (genus level) but in your second block, at
`%>% psmelt %>% inner_join(.,tops, by="Genus", copy=TRUE)`,
it looks like it psmelted the relative abundance to my metadata file, so that it creates a data frame with all my variables, plus a column each for OTU, Abundance, Kingdom, Family, Genus, Species and the aggGe

[2022-09-30 12:33] #1623 closed

[2022-10-01 15:27] jorondo1 commented on #1197
Hi,
ps is the untouched phyloseq object.

I'm not sure what is wrong here, but make sure you substitute Genus for Species everywhere (good'ol find & replace). Here is what it might look like; this version of the code has more comments to it and uses the real df names I am using. Also I did work on my code a bit since I posted here so there may be some small differences.

[code]

In my case I want

[2022-10-03 18:06] mafbio opened #1624 "Relative abundance"
I am trying to select the top 1% of ASVs in relative abundance to do a barplot.  Could somebody help me?. I tried this code:
obj<-transform_sample_counts(filter,function(x) {x/sum(x)})
obj1<-filter_taxa(obj,function(x) sum(x)<=0.01,TRUE)

But this is not that I am looking for, I also tried:
obj1<-transform_sample_counts(filter,function(x) {x*sum(x)/10})

But I don't know if it is correct.

[2022-10-03 18:09] mafbio commented on #1624
Sorry, obj1<-transform_sample_counts(filter,function(x) {x*sum(x)/100})

[2022-10-05 00:13] djdetweiler opened #1625 "Is there a max. number of sample variables (imported as metadata file) that can be included in a phyloseq analysis to create an ordination plot?"
0

I am trying to create an ordination plot with phyloseq data:

[code]

When I attempt to carry out and plot the ordination (including sample arrows as labelled variables), the ordination does not include all the sample variables. I have 24 sample variables I specify for inclusion, but it seems to "max out" at 14 and will not include any additional variables. Furthermore, it seems to only include

[2022-10-05 07:32] JH966 opened #1626 "envfit interpretation"
I'm using envfit in R and I don't understand the result.
While some people don't value arrow directionality, others say that arrow directionality is important.

I know that the longer the arrow, the stronger the influence. But does that mean that the samples in that direction are affected by that factor?

[2022-10-05 16:13] mafbio commented on #1624
Thank you very much for your time. I have 5 samples and I wanted the 1% of the most abundant ASVs

[2022-10-06 08:40] gmteunisse commented on #1624
It's not entirely clear to me what top 1% means if not applied to single samples, so here are a few solutions. I'm not sure if I agree with solutions 2 and 3; I think in this case it would be more elegant to use the top $n$ (e.g. top 10) ASVs by some summary statistic (e.g. mean or median), rather than the top $x$ %. You could use the `top_taxa` function in the [fantaxtic](https://github.com/gmteu

[2022-10-10 16:10] aravenscraft opened #1627 "Custom x axis labels with plot_bar"
Hi Joey! Hope you're doing well!

I am trying to make a bar plot where there is on bar per sample (x=samplename), but the x axis labels display "pretty names" with summary information about the samples - in this case, the site name plus the developmental stage of the insect sampled.  My sample names are unique but the summary information is not, so there will be some bars that will have identical

[2022-10-10 16:48] aravenscraft commented on #1627
Oh! Figured it out. Call "prettyname" from within the p object, like this:

plot_bar(mgphy, x='specid', fill='hilo') + theme(axis.text.x = element_text(size=4.5), legend.position="none") + scale_x_discrete(labels= p$data[match(neworder, p$data$specid),'prettyname'])

[2022-10-17 17:11] mafbio commented on #1624
Thank you very much for your answer, finally I got it with this:
obj<-transform_sample_counts(filter,function(x) {x/sum(x)})
obj1<-filter_taxa(obj,function(x) sum(x)>=0.01,TRUE)

But would it is possible to add others as a gruop in order to obtain the 100% of the relative abundance in the bar plot:
plot_bar(obj1, fill = "Genus") +
  geom_bar(aes(color=Genus, fill=Genus), stat="identity", position=

[2022-10-17 18:15] gmteunisse commented on #1624
No worries. I would like to point out that the code that you are using does not get you the top 1% of taxa; rather, it gets you taxa with a summed relative abundance of at least 0.01 (see code chunk below). Are you sure that this is what you are looking for?

[code]

<sup>Created on 2022-10-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-10-18 08:20] lynneitelson opened #1628 "Merging metadata with otu table in a phyloseq object"
Hi!

when i make a phyloseq object like this:

``ps2 <- phyloseq(otu_table(seqtab, taxa_are_rows=FALSE), tax_table(taxa1))"

It works just fine and by using "sample_names" i see that the names are 1,2,3,4,mock,ng

![image](https://user-images.githubusercontent.com/109670658/196375453-a4cbc422-3572-4cec-a9f0-8a09c9ce68b1.png)

When i add my metadata the following error occurrs:

``ps2 <- phyloseq(s

[2022-10-18 20:30] cjfields commented on #1609
Hi @holly2021FL this is related to the `adonis` and `adonis2` functions in the `vegan` package, not `phyloseq`.  You should check the documentation and issues tracker there first, and if needed file a bug report there: https://github.com/vegandevs/vegan

[2022-10-19 08:08] gmteunisse commented on #1624
In regards to adding 'Others' as a group to the barplot, this requires for you to merge all discarded into a single new OTU and alter its name. You can use the function below (code copied from [`fantaxtic`](https://github.com/gmteunisse/Fantaxtic)) to do so.

[code]

Given the type of plot you want to make, I would suggest trying `fantaxtic`, as it generates the type of plots that you are looking

[2022-10-20 11:15] gmteunisse commented on #1628
Hi Lynne, some general things you can check are:

- Are the samples in the same order in the `otu_table` and the `sample_data`, or are there any samples in one table that are not in the other? Check this using `all(row.names(metadata) == row.names(seqtab))`.
- I notice you use integers as sample names, but R doesn't like columns to start with an integer, and therefore prepends an X (or V) to colum

[2022-10-20 11:25] gmteunisse commented on #1627
Hi aravenscraft,

`scale_x_discrete` expects `labels` to be a character vector. You can either extract this from the phyloseq object, or take a two-step approach as below:

[code]

![](https://i.imgur.com/4o9SXXO.png)

<sup>Created on 2022-10-20 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-10-22 19:38] Gigiagio opened #1629 "phyloseq-sample data zero dimensions"
Hello,

I am new in the metagenomic world. I am encountering an issue when I try to assign my data frame to the phyloseq object.
I run this script:
ps <- phyloseq(otu_table(count_tab, taxa_are_rows=T ),
               sample_data(samples_info_tab ),
               tax_table(tax_tab))
and it gave me this error:
Error in validObject(.Object) :
  invalid class “sample_data” object: Sample Data must h

[2022-10-27 12:18] LaFra7 opened #1631 "Combine different markers and have a unique phyloseq object"
Hi all,

I have a question on how to perform these analysis: I used three different markers to identify eaten plants in my samples. So I have same DNA extractions, then two different PCR (not three because one of them was done in multiplex). I used different markers to increase resolution.

I would like to obtain a final dataset in which I substitute the relative abundances of the genera found in

[2022-10-29 00:57] Aanuoluwaduro commented on #316
This just helped me! Thanks!

[2022-11-02 18:30] mafbio commented on #1624
Thank you very much for your answer. I have had problems with an updated of R. I obtained this error: Error: package or namespace load failed for ‘phyloseq’ in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 there is no package called ‘vctrs’. But I don't get to find the package.
 Although I got to the last version.
I am sorry if I am bothering you, because my knowle

[2022-11-03 09:09] MCK-sketch opened #1632 "adding phy_tree reduces number of ASVs"
Hi, I am new to using phyloseq and wanted some help with the following. When I build my phyloseq object with the phy_tree slot empty the number of ASVs is >5000, but when I add the phy_tree (constructed followin this https://f1000research.com/articles/5-1492/v2) to the phyloseq object the number of ASVs reduces to ~200. Can someone let me know why this might be? Thank you

[2022-11-03 14:03] marwa38 opened #1633 "Any help with bootstrap in the phylogenetic tree?"
Thank you for creating phyloseq, your contributions are, dare I say invaluable and have helped me immensely!

I am trying to find bootstrap in my tree but I haven't been successful yet,
your advice is appreciated.
I created the tree based on this paper: https://f1000research.com/articles/5-1492
as following:
[code]

[code]
a quick example of the tree I viewed using plot_tree
![image](https://user-

[2022-11-03 14:09] #1618 closed

[2022-11-04 13:22] gmteunisse commented on #1624
Try the following to resolve your package loading error.

[code]

Could you specify which function you tried and what your exact error is below?

Below, you are getting an error because your taxa are not stored in rows. If you want to use `taxa_are_rows = TRUE`, transpose your asvtable with `t(asvtable)`.

[2022-11-04 14:55] LaFra7 opened #1634 "Question about rarefy_even_depth"
Hi all,

I am analysing metabarcoding data to study the diet of an animal. So, I have my samples in rows and the taxa identified in columns. I did rarefy_even_depth and I lost about 100 samples out of 500.

I'm working with relative abundances and I would like to know if it is correct to put 0 to the discarded samples as relative abundance for the taxa identified in the other samples. Basically, I

[2022-11-11 08:10] flashton2003 commented on #335
This issue just caught me out as well. Had to do some serious gymnastics to get the prune option to work as well.

[code]

[2022-11-13 18:20] laura-brettell opened #1635 "adding a phy_tree to phyloseq object removes otu_table and tax_table info"
Hi, I was wondering if you could help me with an issue adding phylogenetic data to my phyloseq object?

I made a phyloseq object with TAX and OTU data like this
[code]

![image](https://user-images.githubusercontent.com/38452231/201537275-8dc644ff-5f5f-4a3e-86d4-9440fa43eecf.png)

All looks good so far. But then I import phylogenetic data:

[code]

But now tax_table is filled with NAs (on levels l

[2022-11-14 16:09] gabrielet opened #1636 "tax_glom then psmelt centered-log-ratio transformed data?"
I wanted to plot abundances using centered log ratio, so I did the transformation. Then, I needed to agglomerate my taxa by some specific taxonomic level, e.g. Phylum, and after that I psmelt-ed the resulting table to plot.

The question I have: is it correct to perform ```tax_glom()``` and ```psmelt()``` on centered log ratio-ed data? Are these re-organisations of the dataset affecting the counts

[2022-11-15 07:51] gabrielet commented on #1636
ok, after thinking this through, I believe the best approach to manage the centered log ratios is to forget about ```tax_glom``` entirely. What I do is just perform the ```psmelt``` and use a _tidyr_ based approach to plot:

# psmelt
psmelted <- psmelt(phylo_data)

# plot comparison between control and warming
psmelted[psmelted$TimePoint==timepoint, ] %>% # subset by timepoint
	filter(Abundance >=

[2022-11-15 21:47] marwa38 opened #1637 "plot_tree() queries"
Hi guys
Thank you so much for plot_tree() it is making things easier.
Could you please help me with my queries;
1- According to the info you provided about the function that the points represented, how many times was observed. as in the excerpt:

Does this mean the number of families and beyond or the number of phyla or taxa only?
![image](https://user-images.githubusercontent.com/68851733/2020306

[2022-11-16 12:54] marwa38 commented on #858
@joey711
Any current function for correlation analysis of microbiota?
Thanks
M

[2022-11-17 02:41] Pablo-UY opened #1638 "Does anybody work with Reduced Representation Sequencing/GBS data for metagenomic analysis? I have problems creating taxonomic data."
Hi. I am new at analyzing metagenomic data.
I have created my otu_table, but I have a list with Tags (56.000) and don´t know how to create a taxonomy table.
I have my Tag sequences, tried blastn, but it is really slow.

Hope anybody can help.
Thanks.
Pablo.

[2022-11-17 10:04] mawa86 opened #1639 "Possible Feature? estimate_presence?"
Hey Joey, thanks for this incredible tool!
I have to admit it might sound like a stupid question as I am not that experienced with R, but ill give it a go:

Im looking for an easy way to automatically create a simple yes/no (or positive/negative) variable in sample_data for a given taxon, which would assign a value according to a user-defined threshold value in the otu_table.
for example:

`estima

[2022-11-17 10:32] mawa86 commented on #1566
something like this maybe:

`filtered_phyloseq = filter_taxa(phyloseq, function(x) sum(x > 0) > (0.25*length(x)), TRUE)`

[2022-11-17 13:07] metageno67 opened #1640 "lines on barplot"
hi
on the barplots, is it possible to have no separation lines between taxa, when using the plot_bar command?

[2022-11-18 03:19] Michellescr commented on #1613
Any update on this item? Just curious if anyone heard back from vegan developers if someone found a way to overcome this issue with a different solution?

Thanks

[2022-11-18 10:01] ycl6 commented on #1639
Hi @mawa86

What you suggests is doable, but I don't think this will get added officially into the `phyloseq` package (even if people find this useful) as `phyloseq` is not actively maintained by the developer(s) anymore.

[2022-11-18 11:44] mawa86 commented on #1639
Thank you for your reply @ycl6 !

with your admirable R skills, would you be able to show me how to achieve something like that?

martin

[2022-11-18 12:41] david-barnett commented on #1639
You might be interested in the tax_transform functionality from [microViz](https://david-barnett.github.io/microViz), which works with phyloseq objects and can solve your problem (disclaimer, I'm the maintainer)

[code]

![](https://i.imgur.com/7t6HxlQ.png)

[code]

![](https://i.imgur.com/K2hVvDs.png)

[code]

![](https://i.imgur.com/JkPBReo.png)

[code]

![](https://i.imgur.com/rsNgogB.png)

<su

[2022-11-18 12:48] david-barnett commented on #1640
You might like to try the package [microViz](https://david-barnett.github.io/microViz), which uses phyloseq objects and makes it easier to make modifications like your request (disclaimer, I'm the maintainer)

[code]

![](https://i.imgur.com/Kj97PCi.png)

[code]

![](https://i.imgur.com/wO0nfZw.png)

<sup>Created on 2022-11-18 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

See more exam

[2022-11-19 13:11] ycl6 commented on #1639
Hi @mawa86

Hope the solution offered by @david-barnett answers your question.

[2022-11-19 15:18] marwa38 commented on #1604
a question regarding the behind scenes @ycl6 please
does that remove the taxa which have only zero counts in at least one group from all groups within the phyloseq? or it could be removed from one group and not the other if it have zeros in one but not in the other group?
hope that was clear enough.
cheers
M

[2022-11-19 20:17] ycl6 commented on #1604
Hi @marwa38

The boolean expression used in `prune_taxa()` in my example is `taxa_sums(sub) > 0`.

So with this expression, it is returning a TRUE/FALSE output depending if `taxa_sums()` is more than `0` or not. Therefore, if a taxon has zero count in all the samples (sum is 0), then R will return `FALSE`, if any 1 sample has at least 1 count (sum is 1 or more), R will return `TRUE`. Only taxa tha

[2022-11-20 09:55] #1604 closed

[2022-11-21 07:59] mawa86 commented on #1639
hi @david-barnett and @ycl6

Thanks very much for this tool David, looks neat!

thanks to both for the time

/Martin

[2022-11-21 10:01] metageno67 commented on #1640
Thanks for the answer and for this very nice and very useful package!

[2022-11-21 21:09] #1508 closed, assigned to nobody

[2022-11-22 17:11] ire1990 opened #1641 "otu_table not working with vegan rarecurve"
Hi,

I have recently installed the 1.42.0 version of phyloseq and I am trying to get rarefaction curves for my datasets. However, till I am using this version when I try for example:

`data("GlobalPatterns")
rare<-rarecurve(otu_table(GlobalPatterns), step=100, lwd=2, ylab="OTU", label=F)`

I get this error:
`Error in as(x, "matrix")[i, j, drop = FALSE] :  (subscript) logical subscript too long`

a

[2022-11-22 21:55] ycl6 commented on #1641
Hi @ire1990 I didn't have the error message you have, though, one thing you should change in your code is to transpose the OTU table of `GlobalPatterns`.

From what I can tell from `vegan`'s demo dataset such as `BCI` and `dune`, the `rarecurve()` expects the samples in rows and taxa in columns. Therefore you need to do `t(otu_table(GlobalPatterns))` to make the orientation of the matrix right. Yo

[2022-11-22 22:05] ire1990 commented on #1641
Hi @ycl6

Since I opened the issue I also re run the code transposing the otu table to have samples in rows but I get the same error.. I see you have a previous version of phyloseq and with that version I did not have problems running the rarecurve function with otu_table.
I recently downloaded the 1.42 version and since then I can't run it anymore..

[2022-11-22 22:20] ycl6 commented on #1641
Hi @ire1990

There isn't any change, code-wise, to the `phyloseq` package for a long time. The last 4 commits updates `phyloseq` from 1.38.0 to 1.41.1. Version 1.42.0 is probably just a version bump in Bioconductor.
https://github.com/joey711/phyloseq/commits/master

I don't see any significant code change to `rarecurve()` in `vegan` too. Could it be `R` version? I was testing this in `R-4.1.3`.

[2022-11-23 09:36] ire1990 commented on #1641
Hi @ycl6

Yes could be the R version as I am using the R.4.2.2 that I recently updated.. however it seems really weird that if nothing has changed in the packages the code wont work anymore...

[2022-11-23 15:05] ycl6 commented on #1641
Hi @ire1990

I saw `vegan`'s developer has replied to you on stackoverflow. Indeed as Jari points out, the `otu_table()` function returns a `otu_table` class object, which `rarecurve()` wasn't able to convert it to a matrix class object using `as.matrix()` internally.

Before, all the operations in `rarecurve()` will run alright using a `otu_table` class object as input, but an update in Oct (http

[2022-11-25 05:00] Palliko commented on #1551
Hi There,

I am having a problem when converting my phyloseq object at the genus level and it shows the following error

Problematic Genus values detected in tax_table:
 Ruminococcus  Clostridium
-
taxa_name / Kingdom / Phylum / Class / Order / Family / Genus / Species / ASV / ASV_tax
ASV.00099 /  Bacteria /  Firmicutes /  Clostridia /  Clostridiales /  Ruminococcaceae /  Ruminococcus
ASV.00363 /

[2022-11-25 08:44] david-barnett commented on #1551
Hi @Palliko,

This is a [microViz](https://david-barnett.github.io/microViz/index.html) question as tax_agg is a microViz function.

The instructions here can help you further https://david-barnett.github.io/microViz/articles/web-only/tax-fixing.html

Your problem is slightly surprising to me though, as you have, for example, ASVs classified as "Clostridium" at the Genus level within both the fami

[2022-11-25 12:02] LaFra7 opened #1642 "rarefy_even depth question"
Hi all,

I have a question, that probably is a bit silly, so sorry for this.

When I apply the rarefy_even_depth function, many samples are removed from my dataset. I'm working with relative abundances or presence/absence data of plants found in the faeces of my samples.

If I remove these samples, the sampling design does not have any sense, because I will have different areas with different numb

[2022-11-25 16:25] Palliko commented on #1551
Hi@david-barnett,

thanks, I was used Qiime2 dada2 pipeline. Do you have any comments on this why "Clostridium" is under both families?
 Is these tool/pipeline issues?  or anything else

thanks

[2022-11-25 16:57] david-barnett commented on #1551
not sure, what classifier and what reference database?

For your use case you'll need to decide what to do with these taxa, and manually correct their taxa table entries, e.g. delete the genus classification for the mismatching rows and let tax_fix copy across the family name to fill those gaps. But my guess would be that they are rare ASVs, possibly some odd sequencing errors that confused the cl

[2022-11-25 20:27] Palliko commented on #1551
Hi david
Thanks for your suggestions, I will correct it manually then.

One thing I need to clarify with you

I am having a problem with the R script for my analysis using ancom.
My study approach is 2 x 2 factorial design i.e 2 genetic lines and 2 efficiencies ( for example, E line high and low, Z line high and low efficiency). I want to see the interaction of 2 genetic lines with the month as a

[2022-11-26 10:44] Srvcl commented on #1516
Thanks a lot!
Another way for yours options:

[code]

[2022-11-26 12:58] #1539 closed

[2022-11-26 13:52] marwa38 commented on #1574
I have same issue

[2022-11-26 14:43] marwa38 opened #1643 "error: data length [] is not a sub-multiple or multiple of the number of rows []"
Hi .. I have the same issue as #643 and #1574 but you were not  able to help I think because of the lack of reproducible example?
so here I share a reproducible example to help find out the reason behind this error
Cheers
[code]
![image](https://user-images.githubusercontent.com/68851733/204094328-20cd6255-c021-4071-8964-2874101572e4.png)

attached the input data (phyloseq object) zipped .rds
[ps.

[2022-11-29 12:31] ycl6 commented on #1643
Hi @marwa38 The discussion in https://github.com/joey711/phyloseq/issues/936 will be of interest to you.

In short, the distance calculation only works when your tree is a binary tree. Hence after pruning, you might need to re-construct the phylogenetic tree to obtain a binary tree, or in the example below uses `multi2di()` to transforms multichotomies into a series of dichotomies.

[code]

<sup>C

[2022-11-29 15:43] julietaalvarez commented on #742
My phyloseq was working until my R Studio crashed.  I tried again to run it and now I have this error:
[code]
The last package I installed was "microViz", I don't know if this is the reason. Can someone help me?

[2022-11-29 22:28] david-barnett commented on #742
updating the vctrs package should fix your issue, it's a dependency of e.g. dplyr, which is a dependency of microViz

as a better fix, I'll have a look why this dependency version isn't being automatically upgraded upon microViz install, probably I'll just have to explicitly declare vctrs version 0.5 is needed

For my interest, before you do anything else in R could you share the output of the fol

[2022-11-30 09:52] marwa38 commented on #1643
thank you so much

[2022-11-30 09:52] #1643 closed

[2022-11-30 19:11] julietaalvarez commented on #742
Error in packageDescription(pkg, lib.loc = lib.loc, fields = "Version") :
  object 'microViz' not found
But I already solve the problem with the re-installing "vctrs". Thank you!!